[user]
	name = ***REMOVED***
	email = ***REMOVED***@gmail.com
# Linux
[core]
	excludesfile = ~/.gitignore
	whitespace = tab-in-indent
# Windows
#[core]
#	excludesfile = %HOMEDRIVE%%HOMEPATH%/.gitignore

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = true
[push]
	default = simple
[log]
	decorate = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
