[user]
	name = Robert Liu
	email = 1217648+robqliu@users.noreply.github.com
# Linux/OSX
[core]
	excludesfile = ~/.gitignore
	whitespace = tab-in-indent
	# For debugging
	# sshCommand = "ssh -vv"
# Windows
#[core]
#	excludesfile = %HOMEDRIVE%%HOMEPATH%/.gitignore

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = true
[push]
	default = simple
[log]
	decorate = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[commit]
	gpgsign = true
[tag]
	gpgSign = true
